main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .forums {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80vw;
    max-width: 1300px;
    height: fit-content;
    min-height: 88vh;
}

main .forums .forum {
    display: flex;
    align-items: center;
    height: 70px;
    cursor: pointer;
    border: 1px solid #5c5c5c;
    transition: 0.2s ease-in;
}

main .forums .forum h2 {
    padding-left: 10px;
    color: white;
}

main .forums .forum:hover {
    padding-left: 30px;
    border: 1px solid white;
}