main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

main .highlights {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-image: linear-gradient(to right, #5C28E8 20%,#C528E8 50%);
    width: 80%;
    height: fit-content;
    padding: 12px 0px;
}

main .highlights img {
    width: 60%;
}

main .highlights button {
    border: none;
    background-color: transparent;
}

main .highlights button img {
    width: 30px;
    cursor: pointer;
}

main .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 80%;
}

main .banner h2{
    font-size: 3em;
    color: #5C28E8;
    animation: infinite-left 3.5s ease-out infinite;
}

main .games-showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 90%;
    padding-bottom: 20px;
}

main .games-showcase .game-card {
    height: fit-content;
    width: fit-content;
    max-width: 240px;
    padding: 12px;
}

main .games-showcase .game-card h2 {
    color: white;
    max-width: 300px;
    word-wrap: break-word;
}

main .games-showcase .game-card p {
    color: white;
}

main .games-showcase .game-card img {
    width: 17vw;
    max-width: 300px;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    background-color: black;
    color: white;
    height: 100px;
}

footer a{
    color: #acacac;
}

@keyframes infinite-left {
  
  15% {
    margin-left: 0;
    text-shadow: none;
  }
  
  45%, 55% {
    margin-left: 1.25em;
    text-shadow:
    -8px 0 #ff2cdc48,
    -16px 0 #ff2cdc28;
  }
  
}

@media (max-width: 450px) {
    main .highlights {
        width: 95%;
    }

    main .highlights img {
        width: 70%;
    }

    main .banner {
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 80%;
    }

    main .banner h2{
        font-size: 3em;
        width: 70vw;
        text-align: center;
    }

    main .games-showcase .game-card {
        max-width: 100%;
    }

    main .games-showcase .game-card img {
        width: 80vw;
        max-width: 300px;
        cursor: pointer;
    }
}