main {
    display: flex;
    justify-content: center;
}

main .wishlist {
    display: flex;
    justify-content: center;
    height: fit-content;
    min-height: 88vh;
    width: 80vw;
    max-width: 900px;
}

main .wishlist ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 15px 0px;
}

main .wishlist ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 850px;
    height: 160px;
    padding: 0px 10px;
    background-color: rgb(235, 235, 235);
}

main .wishlist ul li div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2em;
    font-weight: 500;
}

main .wishlist ul li img {
    width: 100px;
}

main .wishlist ul li button {
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(69, 206, 69);
}
